h1,h2,h3,h4,h5,.ft-montserrat{font-family: Montserrat, sans-serif;}
p,ul,ol,li,td,th,.ft-ubuntu{font-family: Ubuntu, sans-serif;}

.ce_text.m-bottom-0>*:last-child{margin-bottom:0;}
.ce_image.m-bottom-0>*:last-child{margin-bottom:0;}

.bg-p2bblack{background:#0a0a0a}
.sep-bottom.cut::after{height: 5px;margin: 1rem auto;width: 60%;display: flex;}
.w50{width: 50%;margin: auto;}

.grad-yellow{
	@include linear-grad(
      (
        (color(yellowlighter),10%,0.8),
        (color(yellow),100%,1)
      ),
    );
}

%simpleRect{ position: relative; display: block; width: fit-content; z-index: 0;
	&:before{@include pseudo(); width: 10%;height: 100%; z-index: -1;}
	&:before { 
		@include linear-grad(
      (
        (color(yellowlighter),0%,1),
        (color(yellowlight),100%,1)
      ),
      'to top'
    );
	}
}
.simpleRect--left{@extend %simpleRect;
	&:before{left: -15%; top:0;}
}
.simpleRect--right {@extend %simpleRect;
	&:before{right: -15%; top:0;}
}

%simpleSquare{ position: relative; display: block; width: fit-content; z-index: 0;
	&:before{@include pseudo(); width: 75%;height: 75%; z-index: -1;}
	&:before { 
		@include linear-grad(
	      (
	        (color(yellowlighter),0%,1),
	        (color(yellowlight),100%,1)
	      ),
	    );
	}
}
.simpleSquare--left{@extend %simpleSquare;
	&:before{left: 0; top:0; transform: translate(-25%,0);}
}
.simpleSquare--right {@extend %simpleSquare;
	&:before{right: 0; top:50%; transform: translate(0,-50%);}
}

%doubleSquare{ position: relative; display: block; width: fit-content; z-index: 0;
	&:before,
	&:after{@include pseudo(); width: 1.5em;height: 1.5em; z-index: -1;}
	&:before { 
		@include linear-grad(
	      (
	        (color(yellowlighter),0%,1),
	        (color(yellowlight),100%,1)
	      ),
	    );
	}
	&:after{
		@include linear-grad(
	      (
	        (color(yellowlight),0%,1),
	        (color(yellow),100%,1)
	      ),
	    );
	}
}
.doubleSquare--left{@extend %doubleSquare;
	&:before{left: -0.25em; top:50%; transform: translate(-99%,-100%);}
	&:after {left: -0.25em; top:50%; transform: translate(0%,-50%); }
}
.doubleSquare--right {@extend %doubleSquare;
	&:before{right: -0.25em; top:50%; transform: translate(0,-50%);}
	&:after {right: -0.25em; top:50%; transform: translate(99%,0%); }
}

